<html>
<head>
	<title>SociAção - Formulário para compra de camisas</title>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
</head>
<body>
	<form class="form-compra" action="{% url home.views.compra %}" method="POST">
		{% csrf_token %}
		<div class="linha">
			<label class="pergunta">
				1) Vc está ciente de que só poderá prencher esse form caso já tenha efetuado o pagamento da camisa e que esse pagamento só poderá ser feito até o dia 5 de março?
			</label>
			Sim <input type="radio" name="termo" value="1">
			Não <input type="radio" name="termo" value="2">
		</div>

		<div class="linha">
			<label for="nome" class="pergunta">2) Qual o seu nome:</label>
			<input type="text" name="nome" id="nome">
		</div>

		<div class="linha">
			<label for="email" class="pergunta">3) Qual o seu email:</label>
			<input type="text" name="email" id="email">
		</div>

		<div class="linha">
			<label for="celular" class="pergunta">4) Qual o seu celular?</label>
			<input type="text" name="celular" id="celular">
		</div>

		<div class="linha">
			<label class="pergunta">5) Qual a operadora do seu celular?</label>
			<input type="radio" name="operadora" value="1"> Tim  <br>
			<input type="radio" name="operadora" value="2"> Oi <br>
			<input type="radio" name="operadora" value="3"> Claro <br>
			<input type="radio" name="operadora" value="4"> Vivo <br>
			<input type="radio" name="operadora" value="5"> Nextel
		</div>

		<div class="linha">
			<label for="facebook" class="pergunta">6) Qual é o seu facebook? </label>
			<input type="text" name="facebook" id="facebook">
		</div>


		<div class="linha" id="tamanhos">
			<label for="tamanhos" class="pergunta">7) Quantas camisas você quer?</label>
			{% for camisa in camisas %}
				<div class="linha">
					<label for="quantidade-{{camisa.id}}">{{camisa.descricao}}:</label>
					<input type="number" name="quantidade-{{camisa.id}}" id="quantidade-{{camisa.id}}" min="0" value="0">
				</div>
			{% endfor %}
		</div>

		<div class="linha">
			<label class="pergunta">8) Em quais das contas voce efetuou o pagamento?</label>
			<input type="radio" name="conta" value="1"> Conta de Malu[Bradesco] <br>
			<input type="radio" name="conta" value="2"> Conta de Malu[Santander] <br>
			<input type="radio" name="conta" value="3"> Conta de Malu[BB] <br>
			<input type="radio" name="conta" value="4"> Conta de Gisely[BB] <br>
		</div>

		<div class="linha">
			<label class="pergunta">
				9) Anexe aqui o arquivo do comprovante de deposito em alguma das contas, onde voce efetuou o pagamento.
				<br>ps:. Caso voce tenha feito o pagamento por deposito em envelope, só será confirmado, apos confirmacao do banco
			</label>
			<input type="file" enctype="multipart/form-data">
		</div>

		<input type="submit" value="Comprar!">
	</form>

	<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/script.js"></script>
</body>
</html>